@media only screen and (max-width: 768px) {
}

@media only screen and (max-width: 992px) {
  #bookRight {
    width: 100% !important;
  }
  .heroSection {
    flex-direction: column;
  }

  .heroLeft {
    max-width: 90%;
    text-align: center;
    height: auto;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  .heroButtons {
    gap: 30px !important;
    width: 100%;
    justify-content: center;
  }
}

@media only screen and (max-width: 960px) {
  #menu {
    display: block;
  }

  #center {
    display: none;
  }

  li > a,
  button {
    display: none;
  }

  ul {
    gap: 10px !important;
  }

  header {
    padding: 0 30px;
  }

  .bookContainer {
    flex-flow: column !important;
    padding: 20px;
  }

  #bookLeft {
    width: 100% !important;
  }

  #bookLeft > p,
  h2 {
    text-align: center !important;
  }

  .w-75 {
    width: 90% !important;
  }
}
@media only screen and (max-width: 1280px) {
  .container {
    max-width: 992px;
  }
}
@media only screen and (max-width: 768px) {
  .tripImage {
    height: auto;
  }

  .paraGraph{
    font-size: 14px;
  }

  .heroVector {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    bottom: 0;
  }

  #bgBlue {
    position: absolute;
    bottom: auto;
    left: auto;
  }

  .tripCard {
    display: grid;
    place-items: center;
  }

  .cardStatus {
    position: static;
    width: 100%;
    max-width: 100%;
    justify-content: space-between;
    flex-flow: column;
    align-items: center;
    text-align: center;
  }

  .h1 {
    font-size: 5cqmax;
    letter-spacing: 0px;
    line-height: 50px;
  }

  .heroLeft {
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .h3 {
    text-align: center;
  }

  .paraGraph {
    align-items: center;
  }

  .heroImg {
    width: calc(100% + 40px);
  }

  .heroRight {
    height: 500px;
  }

  .h2 {
    text-align: center;
  }
}

@media only screen and (max-width: 500px) {
  .cardDestination {
    width: 90%;
    max-width: auto;
  }
  .cardCategory {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 284px;
  }

  #cardInnerDiv {
    width: 90%;
    position: absolute;
    top: auto;
    right: auto;
    margin-top: 20px;
  }

  .rectangele {
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .h2 {
    font-size: 27px;
  }

  .ellips-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  #decore {
    display: none;
  }
}

@media only screen and (max-width: 300px) {
  .heroRight {
    height: 400px;
  }

  #decore {
    left: 30%;
    top: 80%;
    rotate: 90deg;
    width: 75px;
  }
}

@media only screen and (min-width: 1022px) and (max-width: 1140px) {
  /* #decore {
    left: 30%;
    top: 75%;
    rotate: 90deg;
    width: 100px;
  } */
}
