@import url("https://fonts.googleapis.com/css2?family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  --primaryOrange: #f1a501;
  --primaryRed: #df6951;
  --h1: #181e4b;
  --pFont: #5e6282;
  --h2: #14183e;
  --caption: #5e6282;
  --h3: #1e1d4c;
  --heading1Font: "Volkhov", serif;
  --heading3Font: "Open Sans", sans-serif;
  --header: #212832;
  --regularFont: "Poppins", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: var(--regularFont);
}

.btnOrange {
  background-color: var(--primaryOrange) !important;
  color: white !important;
}

.btnRed {
  background-color: var(--primaryRed) !important;
  color: white !important;
}

.upper {
  text-transform: uppercase;
}

.PAbso {
  position: absolute;
}

.pRel {
  position: relative;
}

.fw-7 {
  font-weight: 700;
}

.fw-6 {
  font-weight: 600;
}

.caption {
  font-size: 18px;
  color: var(--caption);
}

.btn {
  outline: none;
  border: none;
  font-size: 18px !important;
  display: block !important;
  font-weight: 300 !important;
  line-height: 22.9px !important;
}

.h1 {
  font-size: 84px;
  color: var(--h1);
  font-family: var(--heading1Font) !important;
  font-weight: 700;
  letter-spacing: -2px;
  line-height: 89px;
}

.h2 {
  color: var(--h2);
  font-size: 50px;
  font-family: var(--heading1Font);
}

.primaryRed {
  color: var(--primaryRad) !important;
}

.cardCategory {
  width: 100%;
  max-width: 302px;
  height: 348.91px;
  position: relative;
}

.rectangele {
  width: 100px !important;
  height: 100px !important;
  position: absolute !important;
  left: 0 !important;
  bottom: 0 !important;
  display: none;
  transition: all 0.4s;
  background: var(--primaryRed) !important;
  border-radius: 30px 0px 10px 0px !important;
}

#cardInnerDiv {
  transition: 0.3s all;
  z-index: 1;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  min-height: 200px;
  padding: 50px 0px;
  background: white;
  border-radius: 36px;
  max-width: 267px;
  transition: all 0.4s;
}

.cardCategory #cardInnerDiv img {
  width: 100%;
  max-width: 92px;
  height: 78px;
}

#cardInnerDiv:hover {
  filter: drop-shadow(0 60px 50px rgba(0, 0, 0, 0.07));
}

#cardInnerDiv:hover + div {
  display: block;
}

.zIn1 {
  z-index: 1;
}

.zIn-1 {
  z-index: -1;
}

.zIn0 {
  z-index: 0;
}

.section{
  min-height:525px ;
  text-align: center;
}

.caption {
  color: var(--pFont);
  font-size: 18px;
  font-family: var(--regularFont) !important;
  line-height: 27px;
  font-weight: 600;
}

.h3 {
  font-family: var(--heading3Font);
  color: var(--h3);
  font-size: 20px;
  line-height: 27.24px;
}

.paraGraph {
  color: var(--pFont);
  font-size: 16px;
  font-family: var(--regularFont) !important;
  line-height: 30px;
}

.lHeight {
  line-height: 26px !important;
}

nav a,
button,
select {
  color: var(--header) !important;
  font-size: 17px !important;
  font-weight: 400 !important;
  line-height: 21.62px !important;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.alignCenter {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  min-height: 100px;
}

.removeSpace {
  white-space: nowrap;
}

.w-100 {
  width: 100% !important;
}

.w-75 {
  width: 75% !important;
}

.w-50 {
  width: 50% !important;
}

.w-25 {
  width: 25% !important;
}

.flex {
  display: flex;
}

.wrap {
  flex-wrap: wrap;
}

.spaceBetween {
  justify-content: space-between;
}

.column {
  flex-direction: column;
}

.center {
  justify-content: center;
  align-items: center;
}

.contentCenter {
  justify-content: center;
}

.itemCenter {
  align-items: center;
}

.spaceAround {
  justify-content: space-around !important;
}

.g-1 {
  gap: 10px;
}

.g-2 {
  gap: 20px;
}

.g-3 {
  gap: 30px;
}

.g-4 {
  gap: 40px;
}

.g-5 {
  gap: 50px;
}

.bgTop {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  width: 647.31px;
  height: 630.58px;
}

.mt-1 {
  margin-top: 1rem !important;
}

.mt-2 {
  margin-top: 2rem !important;
}

.mt-3 {
  margin-top: 2.9rem !important;
}

.mt-4 {
  margin-top: 3.9rem !important;
}

.mt-5 {
  margin-top: 4.9rem !important;
}

.mt-6 {
  margin-top: 5.9rem !important;
}

.mb-1{
  margin-bottom: 5rem;
}
.cardDestination {
  width: 100%;
  max-width: 315px;
  background: white;
  position: relative;
  z-index: 10;
  height: 457px;
  filter: drop-shadow(0 30px 50px rgba(0, 0, 0, 0.097));
  border-radius:24px;
}

.cardHeader {
  height: calc(100% - 130px);
  background: transparent;
}

.cardHeader img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 26px 26px 0 0;
}

.cardFooter {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2;
  background-color: white;
  border-radius: 24px;
  padding: 15px 10px 23px 10px;
  place-items: start;
  z-index: 1000000;
  row-gap: 10px;
}

.cardFooter p:nth-child(2) {
  place-self: end;
}
