header {
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  width: 100%;
  max-width: 1260.58px;
}

#d {
  display: none;
}

ul li button {
  width: 102px;
  background: transparent;
  height: 40px;
  border-radius: 5px;
}

ul li select {
  outline: none;
  background: transparent;
  border: none;
  cursor: pointer;
}

.heroSection {
  min-height: 400px;
  /* background-color: cadetblue; */
}

.heroLeft {
  /* background-color: gray; */
  width: 100%;
  max-width: 630px;

  position: relative;
  height: 535px;
}

.heroCaption {
  width: 100%;
  max-width: 477px;
  min-height: 90px;
}

.heroRight {
  width: 100%;
  max-width: 783.87px;
  height: 664px;
  position: relative;
}

.heroImg {
  width: calc(100% + 100px);
  position: absolute;
  right: 0;
  height: 100%;
}

#menu{
  display: none;
}

.planeLeft {
  position: absolute;
  height: 69.56px;
  max-width: 128.04px;
}

.heroVector {
  position: absolute;
  top: 110px;
  z-index: -1;
  bottom: auto;
  left: 281px;
}

.heroBtnLeft {
  width: 100%;
  max-width: 170px;
  height: 60px;
  border-radius: 10px;
  filter: drop-shadow(0 50px 25px #f1a50157);
}

.heroBtnRight {
  width: 100%;
  border-radius: 50%;
  max-width: 52px;
  height: 52px;
  text-align: center;
  filter: drop-shadow(0 30px 25px #f1290157);
}

.playContainer {
  width: 100%;
  max-width: 165px;
  display: flex;
  height: 100%;
  align-items: center;
}

#flight {
  width: 50px !important;
  top: 0;
  left: 0;
}

.pRel img:nth-child(2) {
  width: 130px !important;
  transform: scale(1.7);
}

#decore {
  left: 87%;
  top: 30%;
}

.bookContainer {
  /* background-color: red; */
}

#bookRight {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 485px;
}

#bgBlue {
  width: 100%;
  bottom: 7%;
  left: 0;
}

#bookLeft {
  width: 47% !important;
}

.tripCard {
  width: 100%;
  max-width: 485px;
  height: auto;
  position: relative;
}

.tripCardDetails {
  width: 100%;
  padding: 20px;
  background-color: white;
  max-width: 370px;
  height: auto;
  filter: drop-shadow(0 30px 50px rgba(0, 0, 0, 0.097));
  border-radius: 24px;
}

.tripImage {
  width: 100%;
  max-width: 321px;
  height: 161px;
}

.tripImage img {
  max-width: 100%;
  object-fit: cover;
  border-radius: 24px;
}

.tripDetail {
  width: 100%;
  height: calc(100% - 161px);
}

#circleContainer {
  width: 139px;
}

.circle {
  width: 36px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  height: 36px;
  background-color: #f5f5f5;
}

.flex i {
  color: #4152ca;
  font-size: 18px;
  cursor: pointer;
}

.cardStatus {
  filter: drop-shadow(0 30px 50px rgba(0, 0, 0, 0.097));
  width: 100%;
  max-width: 263px;
  /* height: 129px; */
  background: white;
  border-radius: 18px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  top: 49%;
  left: 56%;
}

.cardStatus div:nth-child(1) {
  width: 50px;
  height: 50px;
}

.tripPicture img {
  max-width: 100%;
  border-radius: 50%;
  height: 100%;
  overflow: hidden;
}

.progressBar {
  width: 100%;
  max-width: 156px;
  height: 5px;
  border-radius: 30px;
  background: #f5f5f5;
  margin-top: 5px;
}

.line {
  width: 50% !important;
  border-radius: 30px;
  height: 100% !important;
  background: #8a79df;
}

#statusRight {
}

.feedBackLeft {
  width: 50%;
}

.feedBackRight {
  width: 100%;
  max-width: 669px;
  height: 356px;
}

#feedBackLeft {
  width: auto;
}

.dot {
  max-width: 100%;
  width: 12px;
  height: 12px;
  background-color: #e5e5e5;
  border-radius: 50%;
}

.activeDot {
  background-color: #39425d !important;
}

.feedBackContainer {
  width: 100%;
  max-width: 669px;
  height: 356px;
}

.feedBackCard {
  width: 100%;
  max-width: 541px;
  min-height: 279px;
  border-radius: 10px;
  padding: 50px;
}

.topCard {
  z-index: 123;
  filter: drop-shadow(0 48.15px 36.52px rgba(0, 0, 0, 0.083));
}

.behindCard {
  bottom: 0;
  right: 14%;
  width: 100%;
  max-width: 502px !important;
  min-height: 232px !important;
  border: 2px solid #f7f7f7;
}

.topInner {
  background: white;
  max-width: 504px !important;
  min-height: 245px !important;
  bottom: 0;
}

#top {
  animation: slide 1s forwards;
}

#back {
  animation: slideBehind 1s forwards;
}

.top {
  animation: slide 1s forwards;
}

.back {
  animation: slideBehind 1s forwards;
}

.navigation {
  z-index: 1312;
  right: 0;
  top: 115px;
  bottom: 50%;
  transform: translate(-50%, 50%);
}

.disable {
  color: #bcb7c2 !important;
  cursor: no-drop !important;
}

.navigation button i {
  color: black;
}

.profilePicture {
  width: 68px;
  height: 68px;
  z-index: 1123;
  object-fit: cover;
}

.profilePicture img {
  height: 100%;
  width: 100%;
  max-width: 68px;
  object-fit: cover;
  border-radius: 100%;
}

.stars {
  right: 0;
}

@keyframes slide {
  from {
    transform: translate(10%, 30%);
  }
  to {
    transform: translate(0, 0);
  }
}

@keyframes slideBehind {
  from {
    transform: translate(-10%, -40%);
  }
  to {
    transform: translate(0, 0);
  }
}

.text1 {
  animation: slideText infinite;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
}

@keyframes slideText {
  0% {
    opacity: 0;
    transform: translate(-20%, 0);
  }
  40%,
  50%,
  60%,
  70%,
  80% {
    opacity: 1;
    transform: translate(0, 0);
  }
  100% {
    opacity: 0;
    transform: translate(20%, 0);
  }
}

#companyLogos {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

#companyLogos img {
  padding: 20px;
}

#companyLogos img:hover {
  filter: drop-shadow(0 48px 36.52px rgba(0, 0, 0, 0.27));
}

#rectengleCard {
  border-radius: 129px 20px 20px 20px;
  background: #dfd7f98d;
  min-height: 407px;
  padding: 70px 100px;
  overflow: hidden;
}

#rectengleCard .img1 {
  left: 0;
  z-index: -1;
  bottom: 0;
  mix-blend-mode: color-dodge;
}
#rectengleCard .img2 {
  right: 0;
  top: 0;
  z-index: -1;
  mix-blend-mode: color-dodge;
}

#input {
  width: 100%;
  max-width: 421px;
  height: 68px;
  background: white;
  background-image: url("../images/email.svg");
  background-repeat: no-repeat;
  background-position: 20px 26px;
  padding: 0 50px;
  border-radius: 10px;
}

.emailBtn {
  width: 100%;
  max-width: 180px;
  height: 68px;
  border-radius: 10px;
  color: white !important;
  font-size: 17px;
  font-weight: 600;
  font-family: var(--heading1Font);
  background: linear-gradient(#ff946d, #ff7d68);
  line-height: 23.15px;
}

::placeholder {
  color: #39425d;
  font-weight: 400;
}

.starsBottom {
  right: 0;
  bottom: 0;
}

.footerLinks li {
  font-weight: 400 !important;
  color: var(--pFont);
  font-size: 18px;
  line-height: 22.41px;
  margin-bottom: 10px;
}

.shareIcon {
  width: 41px;
  height: 41px;
  background-color: white;
  background-image: none;
  border-radius: 50%;
  filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.191));
}

.shareIcon i {
  color: #080809;
  font-size: 18px;
}

#insta:hover {
  background-image: conic-gradient(
    #b8d2f1,
    #f289aa,
    #c68bf0,
    #d164da,
    #c963e8,
    #bfc2e8,
    #ffc999,
    #d0d8c9,
    #bad0f1,
    #ced8cb,
    #ffffff00
  );
}

#fb:hover {
  background-image: conic-gradient(
    from 360deg,
    #b8d2f1,
    #89c6f2,
    rgb(139, 176, 240),
    #6474da,
    #7763e8,
    #bfcbe8,
    #99a2ff,
    #2b51e8,
    #bad0f1,
    #cbccd8,
    #00147600
  );
}

#twit:hover {
  background-image: conic-gradient(
    #4875ab,
    #b389f2,
    #a68bf0,
    #647eda,
    #63b7e8,
    #4551ff,
    #99eeff,
    #0062ff98,
    #bad0f1,
    #000cec,
    #a9c3ff75
  );
}

.shareIcon:hover i {
  color: white;
}

.open{
  display: none !important;
}

.ios{
  width: 100%;
  max-width: 107px;
  background-color: #080809;
  height: 35px;
  padding: 10px;  
  border-radius: 17.5px;
}

.android{
  width: 100%;
  max-width: 100px;
  background-color: #080809;
  height: 35px;
  border-radius: 17.5px;
}

.ios img{
  width: 20px;
  height: 20px;
}

