header{
    height: 40px;
}

.container{
    width: 100%;
    max-width: 1260.58px;
}

#menu{
    display: none;
}

ul li button{
    width: 102px;
    background:transparent ;
    height: 40px;
    border-radius: 5px;
}

ul li select{
    outline: none;
    background: transparent;
    border: none;
    cursor: pointer;
}


.heroSection{
    min-height: 400px;
    /* background-color: cadetblue; */
}

.heroLeft{
    /* background-color: gray; */
    width: 100%;
    max-width: 630px;

    position: relative;
    height: 535px;
}

.heroCaption{
    width: 100%;
    max-width: 477px;
    min-height: 90px;
}

.heroRight{
    width: 100%;
    max-width: 783.87px;
    height:664px;
    position: relative;
}

.heroImg{
    width:calc(100%  + 100px);
    position: absolute;
    right: 0;
    height: 100%;
    
}

.planeLeft{
    position: absolute;
    height: 69.56px;
    max-width: 128.04px;
}

.heroVector{
    position: absolute;
    top: 110px;
    z-index: -1;
    bottom: auto;
    left: 281px;
}

.heroBtnLeft{
    width: 100%;
    max-width: 170px;
    height: 60px;
    border-radius: 10px;
    filter:drop-shadow(0 50px 25px  #f1a50157);
}

.heroBtnRight{
    width: 100%;
    border-radius: 50%;
    max-width: 52px;
    height: 52px;
    text-align: center;

}

.playContainer{
    width: 100%;
    max-width: 165px;
    display: flex;
    height: 100%;
    align-items: center;
}

.categorySection{
    min-height:525px ;
    text-align: center;
}
